<!DOCTYPE html>
<html lang="{{ page.lang | default: "de" }}">
<html lang="de" xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
  {%- include head.html -%}
  <body a="{{ site.theme_config.appearance | default: "auto" }}">
    <main class="page-content" aria-label="Content">
      <div class="w">
        {{ content }}
      </div>
    </main>

    {%-if site.goat_counter and jekyll.environment == "production"-%}
      {%-include goat_counter.html-%}
    {%-endif-%}

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ js_file }}.js"></script>
      {% endfor %}
    {% endif %}
    {% if page.pretix %}
      <link rel="stylesheet" type="text/css" href="https://pretix.eu/reisemedizin/wt/widget/v1.css">
      <script type="text/javascript" src="https://pretix.eu/widget/v1.de.js" async></script>
    {% endif %}
  </body>
</html>