---
layout: default
---
<header>
  <div class="hhh1">
    <h1>{{ site.title }}</h1>
  </div>
  <p>&nbsp;</p>
  {%- if site.theme_config.show_description -%}
    <p>{{ site.description }}</p>
  {%- endif -%}
</header>

{%- include menu_item.html collection=site.data.menu.entries -%}

{{ content }}

